body {
    margin: 0;
    padding: 0;
}
.h1 {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 60, 60);
    color: pink;
    font-size: 50px;
    text-align: center;
    height: 80px;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 42, 42);
    padding: 8px 12px;
    height: 35px;
}
.navbar_logo {
    font-size: 20px;
    color: white;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 12px 15px;
}
.navbar_menu li:hover {
    background-color: #4d4d4d;
    border-radius: 4px;
}
.navbar_menu li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar_menu li a:hover {
    color:plum;
}
.navbar_icons {
    list-style: none;
    color:pink;
    display: flex;
    padding-left: 0;
}
.navbar_icons li {
    padding: 8px 10px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: pink;
}
#content {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
#content #main_section {
    width: 960px;
    float: left;
    padding: 0;
}
#content #main_aside {
    width: 300px;
    float: right;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 8px 24px;
    }
    
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}
